body { padding-top: 70px; }

.row.question { padding-bottom: 15px; }

button.btn.btn-default {
    margin: 10px 0 5px 0;
    width: 280px;
    line-height: 30px;
    transition: all 0.9s;
}

button.btn-sm {
    width: 130px;
    height: 40px;
    font-size: 18px;
}

.panel-footer {
    /*position: absolute;*/
    /*bottom: 100%;*/
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.col-md-12.panel-footer.navbar-static-bottom {
    margin-top: 30px;
    padding-top: 15px;
}